<h1>Register</h1>
<div class="form">
	<form method="POST" action="/register">
		<label for="name">Username:</label>
		<input type="text" id="name" name="username"><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br>

		<label for="firstName">First name:</label>
		<input type="text" name="firstName" id="firstName"><br>

		<label for="lastName">Last name:</label>
		<input type="text" name="lastName" id="lastName"><br>

		<label for="profilePic">Profile Picture:</label>
		<input type="text" id="profilePic" name="profilePicUrl"><br>

		<input type="submit" value="Register">
	</form>
</div>