<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Projects Manager</title>
	<link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
<header>
	<ul>
		<li><a href="/">Home</a></li>
		{{#if currentUser}}
			<li><a href="/project/all">Projects</a></li>
			<li><a href="/team/all">Teams</a></li>
			{{#if isAdmin}}
				<li><a href="/team/create">Create Team</a></li>
				<li><a href="/project/create">Create Project</a></li>
			{{/if}}
			<div class="right">
				<li>Welcome, {{currentUser.firstName}}!</li>
				<li><a href="/profile">Profile</a></li>
				<li>
					<form id="logout-form" action="/logout" method="post"></form>
					<a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
				</li>
			</div>
		{{else}}
			<div class="right">
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			</div>
		{{/if}}

	</ul>
</header>
<main>
	{{{body}}}
</main>

<footer>
	Express Exam @SoftUni
</footer>
</body>

</html>