<h1>Projects</h1>
<h3>Manage Teams</h3>
<div class="form">
	<form action="/project/all" method="POST">
		<label for="team">Team</label>
		<select id="team" name="teamId">
			{{#each teams}}
				<option value="{{_id}}">{{name}}</option>
			{{/each}}
		</select>
		<label for="project">Project</label>
		<select id="project" name="projectId">
			{{#each displayProjects}}
				<option value="{{_id}}">{{name}}</option>
			{{/each}}
		</select>
		<input type="submit" value="Distribute">
	</form>
</div>