<h1>Projects</h1>
<form class="search" action="/project/all" method="POST">
	<label for="searchText">Seach: </label>
	<input type="text" name="searchText" id="searchText">
	<input type="submit" value="Search">
</form>
<div class="projects">
	{{#each projects}}
		<div class="project">
			<h2>{{name}}</h2>
			{{#if team}}
				<h3>{{team}}</h3>
			{{else}}
				<h3>Team: No Team assigned</h3>
			{{/if}}
			<p>Description: {{description}}</p>
		</div>
	{{/each}}
</div>